#logo{
  width: 400px;
  margin-top: -80px;
  position: relative;
  z-index: 4;

}
#logo_wrapper{
  text-align: center;
}

a{
  color: #ff3300;
  font-family: Courier;
}

h1{
  text-align: center;
  font-family: Courier;
  margin-top: 100px;
  text-shadow: 0 1px 1px rgba(0,0,0, .8);
  letter-spacing: 4px;

}

.container{
  width:80%;
  margin: 0 auto;
  position: relative;
  margin-top: -50px;

}

h3{
  color: black;
  font-family: Courier;

}

h4{
  color:black;
  font-family: Courier;
}

a{
  color: #ff3300;
  font-family: Courier;
}
.zombie{
  width:400px;

}
p{
  color:#262626;
  font-family:Courier;

}


/*//Slider//*/

#cycler{

  margin:0;
  padding:0;
  z-index:1;
}
#cycler img{
  position: absolute;
  z-index:1;
  margin:0;
  padding:0;

}
#cycler img.active{
  z-index:3;
  margin: 0;
  padding: 0;
}
/*//media queries//*/
